.contactUsHeading h1{
    font-size: 40px;
    font-weight: 700;
}
.contactUsHeading p{
    font-size: 17px;
    font-weight: 200;
}
.yourQuery{
width: 70%;
}
.contactUs{
width: 30%;
}
.contactInput{
    background-color: #1e1e1e;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.32;
    min-height: 54px;
    letter-spacing: -0.37px;
    border: none;
    border-radius: 27px;
    width: 100%;
    padding: 15px 25px;
    resize: none;
    color: white;
    margin-bottom: 30px;
    outline: none;
}
.contactTextBox{
    background-color: #1e1e1e;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.32;
    letter-spacing: -0.37px;
    border: none;
    border-radius: 27px;
    width: 100%;
    padding: 15px 25px;
    resize: none;
    color: white;
    margin-bottom: 30px;
    height: 223px;
    outline: none;
}
.btmSubmit{
    font-size: 16px;
    font-weight: bold;
    height: 54px;
    background: #22c55e;
    text-transform: uppercase;
    border-radius: 28.5px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #262626;
}