.technoImg{
    height: 310px;
}
.workImg{
    width: 189px;
    height: 180.4px;
}
.meetingImg{
    height: 311px;
    width: 236px;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}
.sectionOne{
  background-image: url(/images/patternBack.jpg);
  background-repeat: no-repeat;
}
.parallax{
    background-image: url(/images/chilling.jpg), url(/images/handShake.jpg), url(/images/chilling.jpg), url(/images/handShake.jpg) ,url(/images/chilling.jpg),url(/images/chilling.jpg);
    background-repeat: no-repeat;
    background-size: 380px 209px, 350px 249px, 346px 207px, 436px 300px, 470px 236px, 335px;
    background-position: left 24% top 49px, left 62% top 20px, right 2% top 25%, left 40px bottom 21%, left 55% bottom 6%, right 4% bottom 14%;
    color: white;
    /* background-color: #b1f7be; */
}
.parallax-1{
    background: url('https://images.pexels.com/photos/3369569/pexels-photo-3369569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    background-size: cover;
    color: aliceblue;
}
.parallax-2{
    background: url('https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    background-size: cover;
    color: aliceblue;
}
.parallax-inner{
    padding-top: 15%;
    padding-bottom: 15%;
}
h3{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
h1{
    font-size: 160px;
    text-align: center;
}

.ourGallery{
    width: 25%;
}

.onlyBorder{
    border: 1px solid red;
}

