.courseContainer{
    width: 88%;
    top: -30%;
    left: 6%;
}
.actionItem{
    width: 15%;
    justify-content: space-between;
    align-items: center;
}
.itemsView{
   width: 85%;
   padding: 1.18rem;
}
.commitMent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-size: 20px;
}
.courseCard{
    width: 48%;
}
.textColor{
    color: #21c05c;
   }
.btnOfCourse{
    border: 2px solid #21c05c ;
}
.btnOfCourse:hover{
    background-color: #21c05c;
}