.textColor{
 color: #21c05c;
}
.bgBack{
    background-color: #21c05c;
}
.placedStudentsCard{
    width: 32%;
    box-shadow: 0px 0px 6px 0px white;
    background-color: #0d0d0d;
}

.studentName{
    font-size: 22px;
}

.successStories{
    background-image: url("/images/teamOp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.analysedData{
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.analysedDataContainer{
    background-color: rgb(255 255 255 / 0.05);
}

.ourStories{
    color: #21c05c;
}

.studentJourney{
    
}

.studentPic{
    /* background-color: #21c05c; */
}

.studentName{
    bottom: 0px;
}

.glass-card {
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(1rem);
    z-index: 1;
    align-items: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.placedAt{
    background-color: #21c05c;
    color: white;
}

.careerAssurance{
    background-color: #0d0d0d;
    width: 86%;
}

.trackPercent{
color: #21c05c;
font-size: 24px;
font-weight: 600;
}

.exploreCourse{
    border: 2px solid white;
    font-size: 25px;
    padding: 16px;
    border-radius: 14px;
}

.whatsApp{
    width: 44px;
}

.Block_Loading_Balls {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 53vh;
		overflow: hidden;
		background-color: #0d0d0d;
	}
	.ball_container_sB {

		position: absolute;
		top: calc(50% - 4em);
		left: calc(50% - 16em);
		width: 32em;
		white-space: nowrap;
		text-align: center;
	}
	.loading_ball {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 8em;
		height: 8em;
		background-color: rgb( 255, 255, 255 );
		transform: translate(-4em,0%) scale(0);
		opacity: 0;
		animation: 3000ms linear infinite visible_orbit;
        background-color: #0d0d0d;
	}
	.loading_ball._b { z-index: 1; animation-delay: 2000ms; }
	.loading_ball._c { z-index: 1; animation-delay: 4000ms; }

	@keyframes visible_orbit {

		0% { transform: translate(-4em,0%) scale(0); opacity: 0; }
		25% { transform: translate(-8em,0%) scale(1); opacity: 1; }
		50% { transform: translate(12em,0%) scale(1.5); opacity: 1; }
		75% { transform: translate(32em,0%) scale(1); opacity: 1; }
		100% { transform: translate(24em,0%) scale(0); opacity: 0; }
	}